@font-face {
    font-family: 'Roboto-Regular';
    src: url(/fonts/Roboto-Regular.eot);
    src: url(/fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Regular.woff) format('woff'),
    url(/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(/fonts/Roboto-Bold.eot);
    src: url(/fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Bold.woff) format('woff'),
    url(/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url(/fonts/Oswald-Bold.eot);
    src: url(/fonts/Oswald-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Oswald-Bold.woff) format('woff'),
    url(/fonts/Oswald-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url(/fonts/Oswald-Regular.eot);
    src: url(/fonts/Oswald-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Oswald-Regular.woff) format('woff'),
    url(/fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto-Regular';
  background: black;
}
  .wrap_span, .wrap_mobile_menu {
    display: none;
  }

.wrap_header {
  background: #0B0B0C;
  position: relative;
  display: flex;
  justify-content: center;
}
.header {
  position: relative;
  width: 1180px;
  z-index: 1000;
  display: grid;
  grid-template-columns: 52% repeat(4, 12%);
  background: #0B0B0C;
  overflow: hidden;
}
.header_link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    line-height: 21px;
    height: 30px;
    position: relative;
    top: 27px;
    left: 91px;
}
.vote_header {
  left: 74px;
}
.team_header {
  left: 73px;
}
.wrap_slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background: black;
}
.slider {
  width: 1180px;
  height: 780px;
}
.wrap_team {
  width: 100%;
  background: black;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
}
.team {
  width: 1180px;
  position: relative;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 1fr;
}
.teamTitle {
  position: relative;
  font-family: "Oswald-Bold";
  color: white;
  font-size: 50px;
  line-height: 117px;
  display: flex;
  justify-content: center;
  top: -100px;
}
.nicks {
  color: #FFAC22;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  left: 70px;
  position: relative;
}
.namesForNicks {
  font-size: 18px;
  line-height: 140%;
  color: white;
  position: relative;
  left: 70px;
  top: -18px;
}
.nicks2 {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}
.namesForNicks2 {
  color: white;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  top: -17px;
}
.wrap_gamers {
  position: relative;
  display: grid;
  width: 1180px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.gamers:nth-child(2) {
  position: relative;
  top: 133px;
  left: -53px;
}
.gamers:nth-child(3) {
    position: relative;
    right: 106px;
}
.gamers:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  position: relative;
  right: 107px;
  top: -89px;
}
.gamers:nth-child(5) {
  position: relative;
  right: 160px;
  top: 132px;
}
.gamers:nth-child(6) {
  position: relative;
  right: 215px;
}
.nickChill {
  top: -264px !important;
  left: 253px !important;
}
.nickChill2 {
  left: 270px !important;
  top: -280px !important;
}
.wrap_nicks {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 200px;
  top: -156px;
}
.all_nicks:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  left: 126px;
  top: -62px;
}
.all_nicks:nth-child(3) {
      position: relative;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      top: -58px;
      left: 50px;
}
.all_nicks:nth-child(4) {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  left: 177px;
  width: 280px;
}
.wrap_creds {
  position: relative;
  top: -87px;
  left: 108px;
  width: 150px;
}

.wrap_game {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 780px;
  box-shadow: inset 0px 0px 74px 73px black;
  background-image: url("/images/Frame 510.png");
}
.game {
  width: 1180px;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60% 20%;
}
#mainScreen {
  position: absolute;
  z-index: -1;
  top: -6px;
}
.next_game {
    color: white;
    text-shadow: 0px 20px 50px #000000;
    font-size: 50px;
    font-family: "Oswald-Bold";
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    z-index: 1;
}
.game_window {
  position: relative;
  width: 1180px;
  height: 370px;
  background: rgba(11, 11, 12, 0.7);
  box-shadow: 0px 0px 33px #000000;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  top: 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.for_window_game {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice_inside {
  width: 275px;
  height: 61px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFAC22;
  border-radius: 10px;
  font-size: 18px;
  line-height: 21px;
  color: black;
  top: -44px;
  cursor: pointer;
  text-decoration: none;
}
.do_choice {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.vs {
  color: #FFAC22;
  font-size: 50px;
  line-height: 117%;
  font-family: "Oswald-Regular";
}
.enemy {
  font-size: 50px;
  color: white;
  position: relative;
  right: 111px;
}
.teamLogoSvg {
  position: relative;
  left: 111px;
}
.votes {
  font-family: 'Oswald-Bold';
  font-style: normal;
  font-size: 50px;
  position: relative;
  top: 50px;
  line-height: 117.2%;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}
.wrap_present {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 640px;
  background: black;
}
.present {
  position: relative;
  top: 25px;
  right: 30px;
  width: 1180px;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 1fr;
}
.wrap_wear {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.each_wear {
  width: 305px;
  height: 430px;
  background: url("/images/Group 19.png");
  transition: 0.2s;
  cursor: pointer;
}
.each_wear:nth-child(1):hover {
  background: url("/images/Group 18.png");
}
.each_wear:nth-child(2):hover {
  background: url("/images/Group 18.png");
}
.each_wear:nth-child(3):hover {
  background: url("/images/Group 18.png");
}
.each_wear:nth-child(4):hover {
  background: url("/images/Group 18.png");
}

.wrap_footer {
  position: relative;
  top: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #232226;
  height: 550px;
}
.footer {
  position: relative;
  width: 1180px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.high_footer {
  position: relative;
  top: 86px;
  display: grid;
  grid-template-columns: 60% repeat(4, 1fr);
}
.each_footer {
  color: white;
  position: relative;
  top: 17px;
  display: flex;
  justify-content: end;
  font-size: 18px;
  height: 20px;
  line-height: 21px;
}
.thirdFoot {
  left: 8px;
}
.secondFoot {
  right: 21px;
}
.firstFoot {
  right: 66px;
}
.contact_us {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: white;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: 30px;
}
.credentials {
  font-size: 20px;
  line-height: 140%;
  color: white;
}
.footer_inputs {
    border: 2px solid #FAFAFA;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    height: 61px;
    background: transparent;
    padding-left: 20px;
    color: white;
    font-size: 18px;
}
.footer_inputs::placeholder {
  font-size: 20px;
  line-height: 140%;
  color: #808080;
}
#sub_form {
    width: 161px;
    grid-column: 4 / 5;
    position: relative;
    right: 23px;
    height: 61px;
    background: #FFAC22;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #0B0B0C;
    cursor: pointer;
}
.push_me {
  font-size: 14px;
  grid-column: 4 / 5;
  position: relative;
  top: 110px;
  left: 34px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #808080;
  width: 204px;
}
.low_footer {
  font-size: 18px;
  line-height: 21px;
  height: 45px;
  position: relative;
  top: 67px;
  color: white;
}
.middle_footer {
  position: relative;
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: repeat(3, 1fr);
  height: 200px;
}
.post1 {
    position: relative;
    top: -25px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.form_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  position: relative;
  top: -35px;
}
.quest1 {
  position: relative;
  left: 22px;
  top: -58px;
}
.quest2 {
  position: relative;
  right: 46px;
}

.wrap_login {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 93px;
}
.login_inside {
  position: relative;
  width: 667px;
  height: 587px;
  background: #232226;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form {
  position: relative;
  top: 33px;
  width: 367px;
  height: 523px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.enter {
  margin: 0;
}
.enter_to {
  grid-column: 1 / 3;
  font-family: 'Roboto-Bold';
  display: flex;
  font-weight: bold;
  font-size: 30px !important;
  line-height: 35px !important;
  color: white;
}
.comm {
  font-size: 20px;
  line-height: 140%;
  color: white;
}
.forgot_pass {
  position: relative;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #808080;
  left: -154px;
  top: 43px;
}
#enter_but {
  border: 2px solid #808080;
  box-sizing: border-box;
  border-radius: 7px;
  width: 153px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #808080;
  background: transparent;
  cursor: pointer;
  position: relative;
  top: 24px;
}
.login_inp {
  border: 2px solid #808080;
  box-sizing: border-box;
  border-radius: 7px;
  background: transparent;
  width: 367px;
  height: 50px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 140%;
  color: #808080;
}
.login_inp::placeholder {
  font-size: 20px;
  line-height: 140%;
  color: #808080;
}
.radio_inp {
  width: 12px;
  left: -373px;
  position: relative;
  top: 103px;
}
.reg_but {
    position: relative;
    top: -40px;
    left: 10px;
}
.no_acc {
  position: relative;
  top: -39px;
}
.your_email {
  position: relative;
  left: -367px;
  top: 9px;
  width: 200px;
}
.design_pass {
  position: relative;
  left: -368px;
  top: 44px;
}
.inp_pass {
  position: relative;
  top: 36px;
}
.remember_me {
  position: relative;
  top: 41px;
  left: 20px;
}
#reg_but2 {
    border: 2px solid #808080;
    box-sizing: border-box;
    border-radius: 7px;
    width: 235px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #808080;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 24px;
}
.wrap_reg {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 93px;
}
.data_of_user {
  position: relative;
  top: 35px;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 1180px;
}
.wrap_head_prof {
  margin-top: -17px;
}
.profile {
  position: relative;
  width: 100%;
}
.wrap_data_of_user {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 185px;
}
.main_mail {
  font-size: 30px;
  line-height: 35px;
  color: white;
  font-family: 'Roboto-Bold';
}
.name_of_cred {
  font-size: 20px;
  line-height: 140%;
  color: white;
}
.post_inside, .pass_inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #808080;
  width: 280px;
  height: 50px;
  border: 2px solid #808080;
  box-sizing: border-box;
  border-radius: 7px;
  font-size: 20px;
  line-height: 140%;
}
.post_inside {
  top: -29px;
  position: relative;
  left: -13px;
}
.wrap_postProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.wrap_passProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  position: relative;
  top: -86px;
}
.check1_inside {
  color: white;
  mix-blend-mode: normal;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  left: 25px;
  top: -39px;
  letter-spacing: 0.0357143em;
}
.wrap_check1 {
  position: relative;
  width: 322px;
  left: 3px;
  top: -22px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.profile_scores {
  font-size: 30px;
  line-height: 35px;
  font-family: 'Roboto-Bold';
  grid-column: 3 / 4;
  color: white;
  text-align: end;
  color: #FF7A00;
  background-image: linear-gradient(
-4deg, #FF9900, #FFD264);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pass_inside {
  position: relative;
  top: -34px;
  left: -13px;
  font-size: 25px;
  align-items: baseline;
  padding-left: 16px;
  justify-content: center;
}
#eye {
  position: absolute;
  left: 237px;
  cursor: pointer;
}
#check1 {
  opacity: 0;
}
.wrap_checkService {
  position: relative;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a0a0a0;
  border-radius: 2px;
}
.forProfInp {
  background: #a0a0a0;
}

.wrap_game_prof {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 780px;
}
.game_window_prof {
  position: relative;
  width: 1180px;
  height: 370px;
  border-radius: 30px;
  top: 176px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: rgba(26, 26, 26, 0.8);
  box-shadow: 0px 0px 33px #000000;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.for_window_game_prof {
  position: relative;
  left: 111px;
  grid-column: 2 / 3;
}
.next_game_prof {
  color: white;
  text-shadow: 0px 20px 50px #000000;
  font-size: 50px;
  font-family: "Oswald-Bold";
  display: flex;
  justify-content: center;
  position: relative;
  top: 19px;
  z-index: 1;
  grid-row: 2 / 3;
  width: 330px;
  height: 100px;
  left: 79px;
}
.teamLogoSvg_prof {
  position: relative;
  left: 208px;
  top: 85px;
  grid-column: 2 / 3;
}
.vs_prof {
  color: #FFAC22;
  font-size: 50px;
  line-height: 117%;
  font-family: "Oswald-Regular";
  grid-column: 3 / 4;
  left: 65px;
  position: relative;
}
.enemy_prof {
  font-size: 50px;
  color: white;
  position: relative;
  left: -28px;
  grid-column: 4 / 5;
}
.do_choice_prof {
    display: flex;
    justify-content: center;
    position: relative;
    top: -173px;
    left: -371px;
}
.wrap_present_prof {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 640px;
  background: black;
  top: -219px;
}
.votes_prof {
  font-family: 'Oswald-Bold';
  font-style: normal;
  font-size: 50px;
  position: relative;
  top: 75px;
  line-height: 117.2%;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
  height: 56px;
}
.wrap_footer_prof {
  position: relative;
  top: -318px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3px;
}
.choice_inside_vote {
  width: 556px;
  height: 61px;
  background: #FFAC22;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
}
.date_of_game {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: white;
    font-family: "Oswald-Bold";
    font-size: 50px;
    line-height: 117.2%;
    left: -618px;
    width: 763px;
    top: 57px;
    color: #FF7A00;
    background-image: linear-gradient(
    -4deg, #FF9900, #FFD264);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.next_game_vote {
  color: white;
  text-shadow: 0px 20px 50px #000000;
  font-size: 50px;
  font-family: "Oswald-Bold";
  display: flex;
  justify-content: left;
  position: relative;
  top: 49px;
  z-index: 1;
}
.game_vote {
  width: 1180px;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
  z-index: 1;
  top: 0px;
}
.do_choice_vote {
    position: relative;
    top: -39px;
    display: flex;
    justify-content: center;
    z-index: 1;
    grid-column: 1 / 2;
}
.game_window_vote {
  position: relative;
  width: 1180px;
  height: 370px;
  background: rgba(11, 11, 12, 0.7);
  box-shadow: 0px 0px 33px #000000;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  top: 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#conf {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-align: center;
  text-decoration-line: underline;
  position: absolute;
  top: 300px;
  font-family: 'Roboto-Regular';
}
.wrap_results {
  position: relative;
  width: 100%;
  display: grid;
  justify-content: center;
  background: black;
}
.result_scores {
  width: 780px;
  height: 260px;
  position: relative;
  grid-template-columns: 30% 15% 5% 15% 30%;
  display: grid;
  justify-content: center;
  left: 178px;
  grid-template-rows: 20% 30% 50%;
}
.will_score {
  position: relative;
  left: 19px;
  line-height: 35px;
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Roboto-Bold';
  font-size: 30px;
  line-height: 35px;
}
.scores_inp {
  position: relative;
  border: 2px solid #FFFFFF;
  border-radius: 7px;
  width: 109px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 29px;
  color: #FFAC22;
  background: transparent;
  top: 50px;
  left: 19px;
  text-align: center;
}
.scores_inp::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 25px;
  line-height: 29px;
}
.vs2 {
  position: relative;
  left: 32px;
  top: 42px;
  color: white;
  font-size: 54.9306px;
  line-height: 64px;
  width: 10px;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.qty {
  position: relative;
  top: 13px;
  left: -10px;
  font-size: 20px;
  line-height: 23px;
  color: #FFAC22;
  grid-column: 3 / 4;
  width: 100px;
  grid-row: 2 / 3;
}
.enemy2 {
  font-size: 50px;
  color: white;
  position: relative;
  left: 88px;
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}
.logo_team {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.scores_inp1 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  position: relative;
}
.scores_inp2 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  position: relative;
}

.kills {
  position: relative;
  height: 510px;
  top: 125px;
  width: 1180px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 15% 70%;
}
.kills2 {
  position: relative;
  height: 510px;
  top: 438px;
  width: 1180px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 15% 70%;
}
.wrap_gamers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.everyGamer, .everyGamer2 {
  display: grid;
}
.who_kill {
  font-size: 30px;
  line-height: 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto-Bold';
  top: 44px;
  position: relative;
}
.scores_kill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  grid-column: 1 / 3;
  top: 18px;
  line-height: 23px;
  color: #FFAC22;
}
.nick_of_gamer1, .nick_of_gamer2 {
  font-size: 18px;
  line-height: 140%;
  font-family: 'Roboto-Bold';
  color: white;
}
.name_of_gamer1 {
  font-size: 18px;
  line-height: 140%;
  color: white;
  position: relative;
  top: -36px;
}
.everyGamer:hover > .common_kills_imgs {
  border: 5px solid #FFAC22;
}
.everyGamer:hover > .nick_of_gamer1 {
  color: #FFAC22;
}
.everyGamer:hover .wrap_gamers {
  grid-gap: 17px;
}

.everyGamer2:hover > .common_kills_imgs2 {
  border: 5px solid #FFAC22;
}
.everyGamer2:hover > .nick_of_gamer2 {
  color: #FFAC22;
}
.everyGamer2:hover .wrap_gamers2 {
  grid-gap: 17px;
}
.choosenGamer {
  border: 5px solid #FFAC22;
}
.choosenGamerText {
  color: #FFAC22;
}
.wrap_minutes {
  position: relative;
  width: 1180px;
  display: flex;
  justify-content: center;
  top: 292px;
}
.wrap_allKills {
  position: relative;
  width: 1180px;
  display: flex;
  justify-content: center;
  top: 406px;
}
.minutes {
  width: 480px;
  height: 150px;
  position: relative;
  left: -22px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.allKills {
  position: relative;
  left: -22px;
}
.min_during {
  left: 18px;
  top: -31px;
}
.kill_during {
  left: 18px;
  top: -10px;
}
#min_inp {
  left: -163px;
  top: -31px;
}
#kill_inp2 {
  left: 288px;
  top: -9px;
}
.wrap_send_vote {
  width: 1180px;
  display: flex;
  justify-content: center;
}
#sent_result {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 50px;
  position: relative;
  width: 191px;
  height: 61px;
  font-size: 18px;
  line-height: 21px;
  color: black;
  top: 613px;
  background: #FFAC22;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.wrap_res_foot {
  position: relative;
  top: 540px;
  height: 1px;
}
.wrap_start_game {
  width: 100%;
  display: flex;
  justify-content: center;
}
.start_game {
  width: 1180px;
  display: grid;
  height: 517px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 15% 25% 60%;
}
.choose_prof {
  margin: 0;
}
.wrap_admin {
  margin: 0;
}
.wrap_form_start {
  position: relative;
  top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form_start {
  position: relative;
  width: 1180px;
}
.wrap_start_game {
  position: relative;
  grid-template-columns: 1fr;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 1180px;
}
.start_game_title {
  font-family: 'Oswald-Bold';
  color: white;
  font-size: 50px;
  line-height: 117.2%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.final_game_title {
  position: relative;
  top: 32px;
  font-family: 'Oswald-Bold';
  color: white;
  font-size: 50px;
  line-height: 117.2%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.name_enemy_text {
  font-size: 20px;
  line-height: 120%;
  color: white;
  width: 127px;
  grid-column: 1 / 2;
  position: relative;
  top: 3px;
}
.input_enemy_text, .input_short {
  border-radius: 10px;
  background: transparent;
  border: 2px solid #808080;
  font-size: 20px;
  line-height: 140%;
  color: white;
  font-family: 'Roboto-Regular';
}
.input_enemy_text {
  width: 280px;
  height: 50px;
  padding-left: 20px;
}
.input_short {
  width: 50px;
  height: 50px;
  text-align: center;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.input_enemy_text::placeholder {
  font-size: 20px;
  color: #808080;
}
.show_link {
  color: white;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0357143em;
  width: 217px;
  grid-column: 3 / 4;
  grid-row: 3 / 5;
  position: relative;
  left: 35px;
  top: 28px;
}
.for_wrap_checkShow {
  background: #FFAC22 !important;
}
.wrap_checkShow {
  mix-blend-mode: normal;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  position: relative;
  top: -11px;
  left: -7px;
  background: transparent;
  border: #FFAC22 solid 1px;
}
#link_to_game {
  top: -5px;
  left: -2px;
  position: relative;
  border: none;
  opacity: 0;
}
.scores_start_game {
  width: 1180px;
  display: grid;
  height: 539px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 15% 25% 60%;
  position: relative;
  top: -76px;
}
.start_button, .start_button_end {
  display: flex;
  grid-column: 1 / 2;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 50px;
  position: relative;
  height: 60.66px;
  background: #FFAC22;
  border-radius: 10px;
  font-size: 18px;
  line-height: 21px;
  border: none;
  top: 40px;
  cursor: pointer;
}
.start_button {
  width: 207px;
}
.start_button_end {
  width: 240px;
}
.for_each_score {
  top: 13px;
  position: relative;
  width: 600px;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Roboto-Bold';
}
#score_of_game {
  position: relative;
  top: 15px;
}

.final {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: white;
    grid-column: 1 / 2;
    position: relative;
    top: 11px;
}
.between1 {
  font-size: 20px;
  color: rgb(128, 128, 128);
  position: relative;
  grid-column: 2 / 3;
  width: 10px;
  top: 110px;
  left: 70px;
  height: 10px;
}
.input_short2 {
      grid-column: 3 / 4;
      position: relative;
      left: -208px;
      top: 0px;
}
.scores_final_game {
  width: 1180px;
  top: 0px;
  display: grid;
  height: 676px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 15% 25% 60%;
  position: relative;
}
.wrap_foot_admin {
    position: relative;
    height: 1px;
    top: -368px;
}
.didChoise {
  display: flex;
  width: 221px;
  height: 61px;
  position: relative;
  background: #808080;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  top: -25px;
  left: -29px;
}
.each_color_text {
  font-size: 20px;
  line-height: 23px;
  color: #FF7A00 !important;
    background-image: linear-gradient(
-4deg, #FF9900, #FFD264);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.each_kill_block {
  font-size: 20px;
  line-height: 23px;
  color: white;
}
.kill_block {
  position: absolute;
  left: 515px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 42px);
  width: 665px;
  top: 231px;
  height: 76px;
}
.inside_game_window_prof {
  position: relative;
  width: 1180px;
  height: 370px;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.teamLogoSvg_prof2 {
  position: relative;
  left: 221px;
  top: 39px;
  grid-column: 2 / 3;
}
.vs_prof2 {
    color: #FFAC22;
    font-size: 50px;
    line-height: 117%;
    font-family: "Oswald-Regular";
    grid-column: 3 / 4;
    left: 65px;
    position: relative;
    top: -51px;
}
.enemy_prof2 {
  font-size: 50px;
  color: white;
  position: relative;
  left: -28px;
  grid-column: 4 / 5;
  top: -30px;
}
.score_prof {
  font-size: 54.9306px;
  line-height: 64px;
  font-family: 'Roboto-Bold';
  color: #FFFFFF;
}

@media (min-width: 994px) and (max-width: 1340px) {
  .header {
    width: 952px;
  }
  .wrap_reg_foot {
    position: relative;
    height: 1px;
    top: 191px;
  }
  .slider {
    width: 952px;
    height: 890px;
  }
  .teamTitle {
    font-size: 40px;
    line-height: 47px;
    top: -38px;
    left: 0;
  }
  .img_for_each_gamer {
    width: 226px;
  }
  .gamers:nth-child(5) {
    right: 135px;
    top: 103px;
  }
  .gamers:nth-child(4) {
    right: 91px;
    top: -95px;
  }
  .gamers:nth-child(2) {
    top: 103px;
    left: -44px;
  }
  .gamers:nth-child(3) {
    right: 90px;
  }
  .gamers:nth-child(6) {
    right: 180px;
  }
  .team {
        width: 952px;
        overflow: hidden;
  }
  .wrap_gamers {
    width: 952px;
  }
  .nicks {
    left: 57px;
  }
  .namesForNicks {
        left: 57px;
  }
  .nickChill {
    top: -217px !important;
    left: 203px !important;
  }
  .nickChill2 {
    left: 216px !important;
    top: -237px !important;
  }
  .wrap_nicks {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 86px;
    top: -103px;
  }
  .wrap_creds {
    left: 97px;
    width: 130px;
  }
  .all_nicks:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    left: 18px;
    top: 0px;
  }
  .all_nicks:nth-child(3) {
    position: relative;
    grid-column: 4 / 5;
    grid-row: 1;
    left: 0;
    top: 0px;
  }
  .next_game, .votes {
    font-size: 40px;
    line-height: 46px;
  }
  .votes {
    top: 73px;
    height: 40px;
  }
  .teamLogoSvg > img {
        width: 149px;
  }
  .wrap_game {
        height: 680px;
        top: -93px;
  }
  .game_window {
    width: 954px;
    height: 300px;
    justify-self: center;
  }
  .present {
        width: 954px;
        top: -25px;
        right: 0;
  }
  .each_wear {
    width: 235px;
    height: 346px;
        background-repeat: round;
  }
  .each_wear:nth-child(1):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(2):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(3):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(4):hover {
    background-repeat: round;
  }
  .wrap_wear {
    height: 345px;
  }
  .wrap_footer {
    top: 5px;
    height: 620px;
  }
  .footer {
    width: 954px;
  }
  .high_footer {
    top: 41px;
    display: grid;
    grid-template-columns: 60% repeat(4, 1fr);
    width: 954px;
    height: 60px;
  }
  .middle_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    top: -91px;
  }
  .form_1 {
        grid-template-columns: 1fr;
  }
  .push_me {
    font-size: 14px;
    grid-column: 1 / 2;
    position: relative;
    top: -85px;
    left: 185px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #808080;
    width: 245px;
  }
  #sub_form {
        grid-column: 1 / 2;
        right: 0;
        top: 14px;
  }
  .quest2 {
    position: relative;
    right: 0;
    top: -4px;
  }
  .quest1 {
    position: relative;
    left: 0;
    top: 7px;
  }
  .footer_inputs {
    width: 456px;
  }
  .low_footer {
        height: 18px;
        top: 158px;
  }
  .header {
    overflow: visible;
  }
  .enter_link {
    width: 50px;
  }
  .all_nicks:nth-child(4) {
    left: 36px;
  }
  .header_link {
    left: 62px;
  }
  .vote_header {
    left: 45px;
}
.team_header {
    left: 48px;
}
}

@media (min-width: 770px) and (max-width: 994px) {
  .header {
    width: 768px;
    grid-template-columns: 28% repeat(4, 1fr);
  }
  .login_inside {
    width: 553px;
    height: 547px;
  }
  .enter_to {
    font-size: 28px !important;
    line-height: 32px !important;
  }
  .wrap_reg_foot {
    top: 88px;
    height: 1px;
    position: relative;
  }
  .slider {
    width: 768px;
    height: 800px;
  }
  .teamTitle {
    font-size: 38px;
    line-height: 47px;
    top: -45px;
    left: 0;
  }
  #Pilguev {
    position: relative;
    top: 204px;
    left: -1px;
  }
  #Re1GN1 {
    left: -35px;
    top: -205px;
  }
  #Re1GN2 {
    left: -120px;
    top: -224px;
  }
  .img_for_each_gamer {
    width: 213px;
  }
  .gamers:nth-child(5) {
    right: 298px;
    top: 198px;
  }
  .gamers:nth-child(4) {
    right: 254px;
    top: 9px;
  }
  .gamers:nth-child(2) {
    top: 103px;
    left: -44px;
  }
  .gamers:nth-child(3) {
    right: 90px;
  }
  .gamers:nth-child(6) {
    right: 344px;
    top: 95px;
  }
  .team {
        width: 768px;
        overflow: hidden;
  }
  .wrap_gamers {
    width: 768px;
  }
  .nicks {
    left: 57px;
  }
  .namesForNicks {
        left: 57px;
  }
  .nickChill {
    top: -206px !important;
    left: 190px !important;
  }
  .nickChill2 {
    left: 211px !important;
    top: -225px !important;
  }
  .wrap_nicks {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 86px;
    top: -16px;
    width: 700px;
  }
  .all_nicks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .wrap_creds {
    left: 0px;
    width: 130px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    top: -74px;
  }
  .all_nicks:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    left: 59px;
    top: 0px;
  }
  .all_nicks:nth-child(3) {
    position: relative;
    grid-column: 4 / 5;
    grid-row: 1;
    left: 36px;
    top: 0px;
  }
  .next_game, .votes {
    font-size: 38px;
    line-height: 44px;
  }
  .votes {
    top: 73px;
    height: 40px;
  }
  .teamLogoSvg > img {
        width: 125px;
  }
  .wrap_game {
    height: 724px;
    top: 92px;
  }
  .next_game {
    top: 63px;
  }
  .choice_inside {
    top: -37px;
  }
  .teamLogoSvg {
    left: 55px;
  }
  .wrap_present {
    top: 200px;
  }
  .enemy {
    font-size: 37px;
    color: white;
    position: relative;
    right: 52px;
  }
  .game_window {
    width: 727px;
    height: 341px;
    justify-self: center;
  }
  .present {
        width: 768px;
        top: -25px;
        right: 0;
  }
  .each_wear {
    width: 172px;
    height: 265px;
        background-repeat: round;
  }
  .each_wear:nth-child(1):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(2):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(3):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(4):hover {
    background-repeat: round;
  }
  .wrap_wear {
    height: 345px;
  }
  .wrap_footer {
    top: 76px;
    height: 620px;
  }
  .footer {
    width: 768px;
  }
  .high_footer {
    top: 41px;
    display: grid;
    grid-template-columns: 44% repeat(4, 1fr);
    width: 768px;
    height: 60px;
  }
  .middle_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    top: -91px;
  }
  .form_1 {
        grid-template-columns: 1fr;
  }
  .push_me {
    font-size: 14px;
    grid-column: 1 / 2;
    position: relative;
    top: -85px;
    left: 185px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #808080;
    width: 245px;
  }
  #sub_form {
        grid-column: 1 / 2;
        right: 0;
        top: 14px;
  }
  .quest2 {
    position: relative;
    right: 0;
    top: -4px;
  }
  .quest1 {
    position: relative;
    left: 0;
    top: 7px;
  }
  .footer_inputs {
    width: 493px;
  }
  .low_footer {
        height: 18px;
        top: 158px;
  }
  .header {
    overflow: visible;
  }
  .enter_link {
    width: 50px;
  }
  .all_nicks:nth-child(4) {
    left: 122px;
  }
  .header_link {
    left: 62px;
  }
  .vote_header {
    left: 45px;
}
.team_header {
    left: 48px;
}
}

@media (min-width: 578px) and (max-width: 770px) {
  .header {
    width: 576px;
    grid-template-columns: 28% repeat(4, 1fr);
  }
  .radio_inp {
    top: 106px;
  }
  .header_link {
    display: none;
  }
  .wrap_login {
    top: 29px;
  }
  .wrap_reg {
        top: 29px;
  }
  .login_inside {
    width: 536px;
    height: 547px;
  }
  .wrap_reg_foot {
    top: 144px;
    height: 1px;
    position: relative;
  }
  .enter_to {
    font-size: 26px !important;
    line-height: 30px !important;
    position: relative;
    top: -6px;
    width: 467px;
  }
  .wrap_span {
    display: grid;
    width: 18px;
    height: 8px;
    grid-column: 6 / 7;
    position: relative;
    z-index: 1000;
  }
  .span_down {
    position: relative;
    top: -20px;
  }
  .appearUp {
    top: 12px !important;
    transform: rotate(
    -45deg) !important;
  }
  .appearDown {
    top: -22px !important;
    transform: rotate(
    45deg) !important;
  }
  .wrap_mobile_menu {
    display: grid;
    position: fixed;
    width: 320px;
    height: 400px;
    background: #232226;
    border-radius: 0px 10px 10px 10px;
        transform: translateX(-500px);
        transition: 0.3s;
  }
  .appearMenu {
    transform: translateX(0px) !important;
    left: 0px !important;
  }
  .mobile_menu {
    display: grid;
  }
  .mobile_link {
    font-size: 20px;
    color: white;
    padding-left: 33px;
    padding-top: 30px;
  }
  .span_up {
    position: relative;
    top: 8px;
  }
  .each_span {
    width: 18px;
    height: 2px;
    background: white;
  }
  .slider {
    width: 576px;
    height: 800px;
  }
  .teamTitle {
    font-size: 32px;
    line-height: 37px;
    top: 14px;
    left: 0;
  }
  #Pilguev {
    position: relative;
    top: 55px;
    left: 328px;
  }
  .klydeep {
    left: 140px !important;
    top: -154px;
  }
  .pilguev {
    left: 157px !important;
    top: -172px;
  }
  #Re1GN1 {
    left: -44px !important;
    top: -156px;
  }
  #Re1GN2 {
    left: -132px !important;
    top: -175px;
  }
  .img_for_each_gamer {
    width: 150px;
  }
  .gamers:nth-child(5) {
    top: -42px;
    left: 328px;
  }
  .remill {
    top: -153px;
    left: 141px !important;
  }
  .romanov {
    top: -170px;
    left: 160px !important;
  }
  .gamers:nth-child(4) {
    right: 216px;
    top: 30px;
  }
  .magnolia {
    top: -156px;
    left: -63px !important;
  }
  .rodnov {
    top: -174px;
    left: -108px !important;
  }
  .gamers:nth-child(2) {
    top: 127px;
    left: -5px;
  }
  .gamers:nth-child(3) {
    right: 217px;
    top: -12px;
  }
  .gamers:nth-child(6) {
    left: 118px;
    top: 101px;
  }
  .h1te {
    top: -155px;
    left: 140px !important;
  }
  .khait {
    top: -172px;
    left: 159px !important;
  }
  .team {
        width: 576px;
  }
  .wrap_team {
    overflow: hidden;
  }
  .wrap_gamers {
    width: 576px;
    left: -61px;
    top: 53px;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap_slider {
    height: 654px;
  }
  .nicks {
    left: 57px;
  }
  .namesForNicks {
        left: 57px;
  }
  .nickChill {
    top: -156px !important;
    left: 137px !important;
  }
  .nickChill2 {
    left: 158px !important;
    top: -174px !important;
  }
  .wrap_nicks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 86px;
    top: -90px;
    width: 576px;
  }
  .all_nicks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .wrap_creds {
    left: 0px;
    width: 130px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    top: -74px;
  }
  .all_nicks:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    left: 59px;
    top: 0px;
  }
  .spec_imgs {
    position: relative;
    top: 51px;
  }
  .all_nicks:nth-child(3) {
    position: relative;
    grid-column: 2 / 3;
    left: 59px;
    top: -93px;
    grid-row: 2 / 3;
    width: 100px;
    height: 100px;
  }
  .nicks2 {
    position: relative;
    left: 100px;
    top: -29px;
  }
  .namesForNicks2{
    position: relative;
    top: -44px;
    left: 100px;
  }
  .next_game, .votes {
    font-size: 32px;
    line-height: 37px;
  }
  .votes {
    top: 90px;
    height: 40px;
  }
  .teamLogoSvg > img {
        width: 104px;
  }
  .wrap_game {
    height: 505px;
    top: 92px;
  }
  .next_game {
    top: 48px;
  }
  .choice_inside {
    top: -41px;
    width: 232px;
  }
  .teamLogoSvg {
    left: 19px;
  }
  .wrap_present {
    top: 113px;
  }
  .bee {
    width: 129px;
  }
  .enemy {
    font-size: 30px;
    color: white;
    position: relative;
    right: 30px;
  }
  .game_window {
    width: 545px;
    height: 226px;
    top: 36px;
    justify-self: center;
  }
  .present {
        width: 576px;
        top: -25px;
        right: 0;
  }
  .each_wear {
    width: 126px;
    height: 195px;
        background-repeat: round;
  }
  .each_wear:nth-child(1):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(2):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(3):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(4):hover {
    background-repeat: round;
  }
  .wrap_wear {
    height: 345px;
  }
  .wrap_footer {
    top: -81px;
    height: 620px;
  }
  .footer {
    width: 576px;
  }
  .high_footer {
    top: 41px;
    display: grid;
    grid-template-columns: 44% repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 576px;
    height: 60px;
  }
  .each_footer {
    top: 39px;
    left: -178px;
  }
  .secondFoot {
    left: -118px;
  }
  .enter_footer_link {
        left: -27px;
  }
  .thirdFoot {
    left: -64px;
}
  #bee2 {
        grid-column: 1 / 6;
  }
  .middle_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    top: -48px;
  }
  .form_1 {
        grid-template-columns: 1fr;
  }
  .push_me {
    font-size: 14px;
    grid-column: 1 / 2;
    position: relative;
    top: -85px;
    left: 185px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #808080;
    width: 245px;
  }
  #sub_form {
        grid-column: 1 / 2;
        right: 0;
        top: 14px;
  }
  .quest2 {
    position: relative;
    right: 0;
    top: -4px;
  }
  .quest1 {
    position: relative;
    left: 0;
    top: 7px;
  }
  .footer_inputs {
    width: 425px;
  }
  .low_footer {
        height: 18px;
        top: 158px;
  }
  .header {
    overflow: visible;
  }
  .enter_link {
    width: 50px;
  }
  .all_nicks:nth-child(4) {
    left: 0;
    height: 100px;
    top: -93px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 144px;
    height: 100px;
  }
  .header_link {
    left: 62px;
  }
  .vote_header {
    left: 45px;
}
.team_header {
    left: 48px;
}
.bubble {
  height: 3295px;
}
}

@media (min-width: 320px) and (max-width: 578px) {
  .header {
    width: 320px;
    grid-template-columns: 28% repeat(4, 1fr);
  }
  .header_link {
    display: none;
  }
  .wrap_logo {
    position: relative;
    top: 8px;
  }
  .wrap_span {
    display: grid;
    width: 18px;
    height: 55px;
    grid-column: 6 / 7;
    position: relative;
    z-index: 1000;
  }
  .span_down {
    position: relative;
    top: -20px;
  }
  .appearUp {
    top: 12px !important;
    transform: rotate(
    -45deg) !important;
  }
  .appearDown {
    top: -22px !important;
    transform: rotate(
    45deg) !important;
  }
  .wrap_mobile_menu {
    display: grid;
    position: fixed;
    width: 320px;
    height: 400px;
    background: #232226;
    border-radius: 0px 10px 10px 10px;
        transform: translateX(-500px);
        transition: 0.3s;
  }
  .appearMenu {
    transform: translateX(0px) !important;
    left: 0px !important;
  }
  .mobile_menu {
    display: grid;
  }
  .mobile_link {
    font-size: 20px;
    color: white;
    padding-left: 33px;
    padding-top: 30px;
  }
  .span_up {
    position: relative;
    top: 8px;
  }
  .each_span {
    width: 18px;
    height: 2px;
    background: white;
  }
  .slider {
    width: 320px;
    height: 800px;
  }
  .teamTitle {
    font-size: 30px;
    line-height: 35px;
    top: 14px;
    left: 0;
  }
  #Pilguev {
    position: relative;
    top: 339px;
    left: 87px;
  }
  .klydeep {
    left: 127px !important;
    top: -134px;
  }
  .pilguev {
    left: 143px !important;
    top: -149px;
  }
  #Re1GN1 {
    left: 127px !important;
    top: -133px;
  }
  #Re1GN2 {
    left: 142px !important;
    top: -148px;
  }
  .img_for_each_gamer {
    width: 130px;
  }
  .gamers:nth-child(5) {
    top: 252px;
    left: 87px;
  }
  .remill {
    top: -135px;
    left: 127px !important;
  }
  .romanov {
    top: -151px;
    left: 143px !important;
  }
  .gamers:nth-child(4) {
    right: 173px;
    top: 8px;
  }
  .magnolia {
    top: -133px;
    left: 127px !important;
  }
  .rodnov {
    top: -146px;
    left: 142px !important;
  }
  .gamers:nth-child(2) {
    top: 96px;
    left: -43px;
  }
  .gamers:nth-child(3) {
    right: 173px;
    top: -24px;
  }
  .gamers:nth-child(6) {
    left: -44px;
    top: 376px;
  }
   {
    top: -155px;
    left: 140px !important;
  }
  .h1te {
    top: -133px;
    left: 128px !important;
}
  .khait {
    top: -148px;
    left: 144px !important;
  }
  .team {
        width: 320px;
  }
.game {
  width: 320px;
  }
  .wrap_gamers {
    width: 320px;
    box-shadow: inset 0px 0px 8px 54px black;
    left: -61px;
    top: 53px;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap_slider {
    height: 530px;
  }
  .nicks {
    left: 57px;
    font-size: 16px;
    line-height: 22px;
  }
  .namesForNicks {
        left: 57px;
        font-size: 16px;
        line-height: 22px;
  }
  .nickChill {
    top: -132px !important;
    left: 127px !important;
  }
  .nickChill2 {
    left: 142px !important;
    top: -147px !important;
    width: 150px;
  }
  .wrap_nicks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 86px;
    top: 120px;
    width: 260px;
  }
  .all_nicks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .wrap_creds {
    left: -98px;
    width: 130px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    top: 9px;
  }
  .all_nicks:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    left: 43px;
    top: 0px;
  }
  .spec_imgs {
    position: relative;
    top: 51px;
  }
  .all_nicks:nth-child(3) {
    position: relative;
    grid-column: 2 / 3;
    left: 43px;
    top: -41px;
    grid-row: 2 / 3;
    width: 100px;
    height: 100px;
  }
  .nicks2 {
    position: relative;
    left: 100px;
    top: -29px;
  }
  .namesForNicks2{
    position: relative;
    top: -44px;
    left: 100px;
  }
  .next_game, .votes {
    font-size: 30px;
    line-height: 35px;
  }
  .votes {
    top: 90px;
    height: 40px;
    width: 258px;
    left: 33px;
  }
  .teamLogoSvg > img {
        width: 74px;
  }
  .vs {
    font-size: 30px;
    line-height: 35px;
  }
  .wrap_game {
    height: 505px;
    top: 410px;
  }
  .next_game {
    top: 48px;
  }
  .choice_inside {
    top: -41px;
    width: 212px;
  }
  .teamLogoSvg {
    left: 19px;
  }
  .wrap_present {
    top: 489px;
  }
  .bee {
    width: 129px;
  }
  .enemy {
        font-size: 19px;
        color: white;
        position: relative;
        right: 25px;
  }
  .game_window {
    width: 286px;
    height: 186px;
    top: 53px;
    justify-self: center;
  }
  .present {
        width: 320px;
        top: -25px;
        right: 0;
  }
  .each_wear {
        width: 130px;
        height: 199px;
        background-repeat: round;
        margin-left: 22px;
        position: relative;
        top: 34px;
  }
  .each_wear:nth-child(1):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(2):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(3):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(4):hover {
    background-repeat: round;
  }
  .wrap_wear {
    height: 345px;
    left: -7px;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap_footer {
    top: 540px;
    height: 766px;
  }
  .footer {
    width: 320px;
  }
  .high_footer {
    top: 41px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 320px;
    height: 60px;
  }
  .each_footer {
    top: 39px;
    left: -14px;
  }
  .secondFoot {
    left: -87px;
    top: 97px !important;
  }
  .enter_footer_link {
    left: -97px;
    top: 97px;
  }
  .thirdFoot {
    left: -14px;
}
  #bee2 {
        grid-column: 1 / 6;
  }
  .contact_us {
    position: relative;
    top: 6px;
  }
  .middle_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    top: -35px;
  }
  .form_1 {
        grid-template-columns: 1fr;
  }
  .push_me {
    font-size: 14px;
    grid-column: 1 / 2;
    position: relative;
    top: -18px;
    left: 39px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #808080;
    width: 245px;
  }
  #sub_form {
        grid-column: 1 / 2;
        right: 0;
        top: 14px;
        width: 320px;
  }
  .quest2 {
    position: relative;
    right: 0;
    top: -12px;
  }
  .quest1 {
    position: relative;
    left: 0;
    top: 0px;
  }
  .footer_inputs {
    width: 320px;
  }
  .low_footer {
    height: 18px;
    top: 190px;
    display: flex;
    justify-content: center;
  }
  .header {
    overflow: visible;
  }
  .enter_link {
    width: 50px;
  }
  .all_nicks:nth-child(4) {
    left: 0;
    height: 100px;
    top: -41px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 144px;
    height: 100px;
  }
  .header_link {
    left: 62px;
  }
    .vote_header {
      left: 45px;
  }
  .team_header {
      left: 48px;
  }
  .login_inside {
    width: 320px;
    height: 460px;
  }
  .comm {
    font-size: 18px;
    line-height: 25px;
  }
  .enter_to {
        font-size: 22px !important;
        line-height: 26px !important;
        width: 333px;
        position: relative;
        left: 21px;
        margin-right: 0;
        top: 25px;
  }
  .login_inp {
    position: relative;
    left: 20px;
    top: 42px;
    width: 281px;
  }
  #reg_but2 {
    width: 224px;
  }
  .wrap_reg {
    top: -18px;
  }
  .reg_but {
    top: 0px;
    left: 38px;
  }
  .no_acc {
    top: 1px;
    left: 20px;
  }
  .wrap_reg_foot {
    height: 1px;
    position: relative;
    top: -580px;
  }
  .login_form {
    overflow: hidden;
    height: 523px;
    top: 19px;
  }
  .remember_me {
    position: relative;
    top: 79px;
    left: 47px;
    width: 143px;
    height: 40px;
  }
  .radio_inp {
    width: 12px;
    left: -266px;
    position: relative;
    top: 148px
  }
  #reg_but2 {
    width: 224px;
    left: 20px;
    top: 60px;
  }
  .wrap_login {
    top: -18px;
  }
  #enter_but {
    left: 23px;
    top: 61px;
  }
  .forgot_pass {
    opacity: 0;
  }
  .your_email {
    left: -262px;
    top: 55px;
    width: 200px;
  }
  .design_pass {
    left: -262px;
    top: 93px;
  }
  .inp_pass {
        top: 80px !important;
  }
}

