@font-face {
    font-family: 'Roboto-Regular';
    src: url(/fonts/Roboto-Regular.eot);
    src: url(/fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Regular.woff) format('woff'),
    url(/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(/fonts/Roboto-Bold.eot);
    src: url(/fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Bold.woff) format('woff'),
    url(/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url(/fonts/Oswald-Bold.eot);
    src: url(/fonts/Oswald-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Oswald-Bold.woff) format('woff'),
    url(/fonts/Oswald-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url(/fonts/Oswald-Regular.eot);
    src: url(/fonts/Oswald-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Oswald-Regular.woff) format('woff'),
    url(/fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto-Regular';
  background: black;
}
.wrap_header {
  background: #0B0B0C;
  position: relative;
  display: flex;
  justify-content: center;
}
.header {
  position: relative;
  width: 1180px;
  display: grid;
  grid-template-columns: 52% repeat(4, 12%);
  background: #0B0B0C;
}
.header_link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    line-height: 21px;
    height: 30px;
    position: relative;
    top: 27px;
    left: 91px;
}
.vote_header {
  left: 74px;
}
.team_header {
  left: 73px;
}
.wrap_slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background: black;
}
.slider {
  width: 1180px;
  height: 780px;
}
.wrap_team {
  width: 100%;
  background: black;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
}
.team {
  width: 1180px;
  position: relative;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 1fr;
}
.teamTitle {
  position: relative;
  font-family: "Oswald-Bold";
  color: white;
  font-size: 50px;
  line-height: 117px;
  display: flex;
  justify-content: center;
  top: -100px;
  left: -103px;
}
.nicks {
  color: #FFAC22;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  left: 70px;
  position: relative;
}
.namesForNicks {
  font-size: 18px;
  line-height: 140%;
  color: white;
  position: relative;
  left: 70px;
  top: -18px;
}
.nicks2 {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}
.namesForNicks2 {
  color: white;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  top: -17px;
}
.wrap_gamers {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.gamers:nth-child(2) {
  position: relative;
  top: 133px;
  left: -53px;
}
.gamers:nth-child(3) {
    position: relative;
    right: 106px;
}
.gamers:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  position: relative;
  right: 107px;
  top: -89px;
}
.gamers:nth-child(5) {
  position: relative;
  right: 160px;
  top: 132px;
}
.gamers:nth-child(6) {
  position: relative;
  right: 215px;
}
.nickChill {
  top: -264px !important;
  left: 253px !important;
}
.nickChill2 {
  left: 270px !important;
  top: -280px !important;
}
.wrap_nicks {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 200px;
  top: -156px;
}
.all_nicks:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  left: 126px;
  top: -62px;
}
.all_nicks:nth-child(3) {
      position: relative;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      right: 127px;
      top: -58px;
}
.all_nicks:nth-child(4) {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}
.wrap_creds {
  position: relative;
  top: -87px;
  left: 108px;
  width: 200px;
}

.wrap_game {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 780px;
  box-shadow: inset 0px 0px 74px 73px black;
  background-image: url("/images/Frame 510.png");
}
.game {
  width: 1180px;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60% 20%;
}
#mainScreen {
  position: absolute;
  z-index: -1;
  top: -6px;
}
.next_game {
    color: white;
    text-shadow: 0px 20px 50px #000000;
    font-size: 50px;
    font-family: "Oswald-Bold";
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    z-index: 1;
}
.game_window {
  position: relative;
  width: 1180px;
  height: 370px;
  background: rgba(11, 11, 12, 0.7);
  box-shadow: 0px 0px 33px #000000;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  top: 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.for_window_game {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice_inside {
  width: 275px;
  height: 61px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFAC22;
  border-radius: 10px;
  font-size: 18px;
  line-height: 21px;
  color: black;
  top: -44px;
  cursor: pointer;
}
.do_choice {
  display: flex;
  justify-content: center;
}
.vs {
  color: #FFAC22;
  font-size: 50px;
  line-height: 117%;
  font-family: "Oswald-Regular";
}
.enemy {
  font-size: 50px;
  color: white;
  position: relative;
  right: 111px;
}
.teamLogoSvg {
  position: relative;
  left: 111px;
}
.votes {
  font-family: 'Oswald-Bold';
  font-style: normal;
  font-size: 50px;
  position: relative;
  top: 50px;
  line-height: 117.2%;
  text-align: center;
  text-transform: uppercase;
  color: #FAFAFA;
}
.wrap_present {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 640px;
  background: black;
}
.present {
  position: relative;
  top: 25px;
  right: 30px;
  width: 1180px;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 1fr;
}
.wrap_wear {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.each_wear {
  width: 305px;
  height: 430px;
  background: url("/images/Group 19.png");
  transition: 0.2s;
  cursor: pointer;
}
.each_wear:nth-child(1):hover {
  background: url("/images/Group 18.png");
}
.each_wear:nth-child(2):hover {
  background: url("/images/Group 18.png");
}
.each_wear:nth-child(3):hover {
  background: url("/images/Group 18.png");
}
.each_wear:nth-child(4):hover {
  background: url("/images/Group 18.png");
}

.wrap_footer {
  position: relative;
  top: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #232226;
  height: 550px;
}
.footer {
  position: relative;
  width: 1180px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.high_footer {
  position: relative;
  top: 86px;
  display: grid;
  grid-template-columns: 60% repeat(4, 1fr);
}
.each_footer {
  color: white;
  position: relative;
  top: 17px;
  display: flex;
  justify-content: end;
  font-size: 18px;
  height: 20px;
  line-height: 21px;
}
.thirdFoot {
  left: 8px;
}
.secondFoot {
  right: 21px;
}
.firstFoot {
  right: 66px;
}
.contact_us {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: white;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: 30px;
}
.credentials {
  font-size: 20px;
  line-height: 140%;
  color: white;
}
.footer_inputs {
    border: 2px solid #FAFAFA;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    height: 61px;
    background: transparent;
    padding-left: 20px;
    color: white;
    font-size: 18px;
}
.footer_inputs::placeholder {
  font-size: 20px;
  line-height: 140%;
  color: #808080;
}
#sub_form {
    width: 161px;
    grid-column: 4 / 5;
    position: relative;
    right: 23px;
    height: 61px;
    background: #FFAC22;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #0B0B0C;
    cursor: pointer;
}
.push_me {
  font-size: 14px;
  grid-column: 4 / 5;
  position: relative;
  top: 110px;
  left: 34px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #808080;
  width: 204px;
}
.low_footer {
  font-size: 18px;
  line-height: 21px;
  height: 45px;
  position: relative;
  top: 67px;
  color: white;
}
.middle_footer {
  position: relative;
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: repeat(3, 1fr);
  height: 200px;
}
.post1 {
    position: relative;
    top: -25px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.form_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  position: relative;
  top: -35px;
}
.quest1 {
  position: relative;
  left: 22px;
  top: -58px;
}
.quest2 {
  position: relative;
  right: 46px;
}

