@font-face {
    font-family: 'Roboto-Regular';
    src: url(/fonts/Roboto-Regular.eot);
    src: url(/fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Regular.woff) format('woff'),
    url(/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(/fonts/Roboto-Bold.eot);
    src: url(/fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Bold.woff) format('woff'),
    url(/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url(/fonts/Oswald-Bold.eot);
    src: url(/fonts/Oswald-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Oswald-Bold.woff) format('woff'),
    url(/fonts/Oswald-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url(/fonts/Oswald-Regular.eot);
    src: url(/fonts/Oswald-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Oswald-Regular.woff) format('woff'),
    url(/fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto-Regular';
}
.wrap_header {
  background: #0B0B0C;
  position: relative;
  display: flex;
  justify-content: center;
}
.header {
  position: relative;
  width: 1180px;
  display: grid;
  grid-template-columns: 52% repeat(4, 12%);
  background: #0B0B0C;
}
.header_link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    line-height: 21px;
    height: 30px;
    position: relative;
    top: 27px;
    left: 91px;
}
.vote_header {
  left: 74px;
}
.team_header {
  left: 73px;
}

