@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Bold.woff') format('woff'),
    url('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto-Regular';
  background: black;
}
  .wrap_span, .wrap_mobile_menu {
    display: none;
  }

.wrap_header {
  background: #0B0B0C;
  position: relative;
  display: flex;
  justify-content: center;
}
.header {
  position: relative;
  width: 1180px;
  z-index: 1000;
  display: grid;
  grid-template-columns: 52% repeat(4, 12%);
  background: #0B0B0C;
}
.header_link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    line-height: 21px;
    height: 30px;
    position: relative;
    top: 27px;
    left: 91px;
}

.vote_header {
  left: 74px;
}
.team_header {
  left: 73px;
}
.wrap_slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background: black;
}
.slider {
  position: relative;
  z-index: 5;
  width: 1180px;
  height: 1063px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 62% 38%;
}
.not_a_rbt {
  position: absolute;
  top: 60px;
  color: white;
  font-size: 20px;
  left: 402px;
  width: 145px;
}
#check_rbt {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 5px;
  border: 1px solid white;
  left: 112px;
  margin: 0;
  top: -23px;
  cursor: pointer;
}
.done_rbt {
  border: none !important;
  background: #FFAC22;
}
.wrap_star1 {
    position: absolute;
    top: -1161px;
}
.wrap_vector {
      position: relative;
      top: 137px;
      left: 4px;
}
.spec_star3 {
      top: 1964px !important;
}
.spec_star2 {
  top: 1659px !important;
}
.wrap_active_sliders {
  margin: 0;
  position: absolute;
  height: 660px;
  display: flex;
  justify-content: center;
  left: 1300px;
  transition: 0.2s;
}
.spec_star1 {
  top: 800px !important;
}
.spec_star33 {
  top: -361px !important;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1949px !important;
  left: -0px !important;
}
.spec_star22 {
  top: -100px !important;
}
.wrap_black_screen {
  position: fixed;
  width: 100%;
  height: 362px;
  background: rgba(0, 0, 0, 0.6);
  top: 285px;
  z-index: 4;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8), transparent);
}
.appearSlide {
  z-index: 999;
  left: 0px;
}
.slowAnim {
  animation: slidein 0.6s 1;
}
@keyframes slidein {
  0% { left: 0px; }
  50% { left: -1300px; opacity: 0; }
  100% { left: 1300px; }
}
.active_sliders {
    position: relative;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.each_down_slide > img {
  cursor: pointer;
}
.down_sliders {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 19px;
}
.wrap_team {
  width: 100%;
  background-color: black;
  height: 900px;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.wrap_star1 {
  position: absolute;
  width: 100%;
  top: 583px;
  height: 790px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/Star 365.svg');
  z-index: 1;
  display: flex;
  justify-content: center;
}
.wrap_star2 {
  position: absolute;
  width: 100%;
  top: 2503px;
  height: 790px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/Star 36 (1) — копия.svg');
  z-index: 3;
  background-size: 3560px;
}
.wrap_star222 {
  position: absolute;
  width: 100%;
  top: 2503px;
  height: 790px;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 3;
  background-size: 3560px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.spec_star2_vote {
  top: 1982px !important;
}
.star3_inside > img {
  position: relative;
  left: 1676px;
  width: 2155px;
}
.spec_star3_vote {
  top: 2151px !important;
  display: flex;
  justify-content: center;
  height: 1167px !important;
}
.wrap_star3 {
  position: absolute;
  width: 100%;
  top: 2927px;
  height: 790px;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: 2700px;
  left: 0px;
  overflow: hidden;
}
.spec_star_ex33 {
  display: flex;
  justify-content: center;
}
.wrap_star_ex33_img > img {
  position: relative;
  left: 1888px;
  top: -100px;
}
.wrap_star3_img {
  position: absolute;
  width: 2008px;
  height: 2000px;
}
.wrap_star3_img > img {
  position: relative;
  left: 1444px;
}
.team {
  width: 1180px;
  padding-top: 9px;
  position: relative;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 1fr;
  z-index: 5;
}
.teamTitle {
  position: relative;
  font-family: "Oswald-Bold";
  color: white;
  font-size: 50px;
  line-height: 117px;
  display: flex;
  justify-content: center;
  top: -100px;
}
.nicks {
  color: #FFAC22;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  left: 70px;
  position: relative;
}
.namesForNicks {
  font-size: 18px;
  line-height: 140%;
  color: white;
  position: relative;
  left: 70px;
  top: -18px;
}
.nicks2 {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}
.namesForNicks2 {
  color: white;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  top: -17px;
}
.wrap_gamers, .wrap_gamers2 {
  position: relative;
  display: grid;
  width: 1180px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.gamers:nth-child(2) {
  position: relative;
  top: 133px;
  left: -53px;
}
.gamers:nth-child(3) {
    position: relative;
    right: 106px;
}
.gamers:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  position: relative;
  right: 107px;
  top: -89px;
}
.gamers:nth-child(5) {
  position: relative;
  right: 160px;
  top: 132px;
}
.gamers:nth-child(6) {
  position: relative;
  right: 215px;
}
.nickChill {
  top: -264px !important;
  left: 253px !important;
}
.nickChill2 {
  left: 270px !important;
  top: -280px !important;
}
.wrap_nicks {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 200px;
  top: -156px;
}
.all_nicks:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  left: 126px;
  top: -62px;
}
.all_nicks:nth-child(3) {
      position: relative;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      top: -58px;
      left: 50px;
}
.all_nicks:nth-child(4) {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  left: 177px;
  width: 280px;
}
.wrap_creds {
  position: relative;
  top: -87px;
  left: 108px;
  width: 150px;
}
