@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Bold.woff') format('woff'),
    url('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto-Regular';
  background: black;
}
  .wrap_span, .wrap_mobile_menu {
    display: none;
  }

.wrap_header {
  background: #0B0B0C;
  position: relative;
  display: flex;
  justify-content: center;
}
.header {
  position: relative;
  width: 1180px;
  z-index: 1000;
  display: grid;
  grid-template-columns: 52% repeat(4, 12%);
  background: #0B0B0C;
}
.header_link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    line-height: 21px;
    height: 30px;
    position: relative;
    top: 27px;
    left: 91px;
}
.vote_header {
  left: 74px;
}
.team_header {
  left: 73px;
}
.wrap_slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background: black;
}
.slider {
  width: 1180px;
  height: 780px;
}
.wrap_team {
  width: 100%;
  background: black;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
}
.team {
  width: 1180px;
  position: relative;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 1fr;
}
.teamTitle {
  position: relative;
  font-family: "Oswald-Bold";
  color: white;
  font-size: 50px;
  line-height: 117px;
  display: flex;
  justify-content: center;
  top: -100px;
}
.nicks {
  color: #FFAC22;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  left: 70px;
  position: relative;
}
.namesForNicks {
  font-size: 18px;
  line-height: 140%;
  color: white;
  position: relative;
  left: 70px;
  top: -18px;
}
.nicks2 {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}
.namesForNicks2 {
  color: white;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  top: -17px;
}
.wrap_gamers, .wrap_gamers2 {
  position: relative;
  display: grid;
  width: 1180px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.gamers:nth-child(2) {
  position: relative;
  top: 133px;
  left: -53px;
}
.gamers:nth-child(3) {
    position: relative;
    right: 106px;
}
.gamers:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  position: relative;
  right: 107px;
  top: -89px;
}
.gamers:nth-child(5) {
  position: relative;
  right: 160px;
  top: 132px;
}
.gamers:nth-child(6) {
  position: relative;
  right: 215px;
}
.nickChill {
  top: -264px !important;
  left: 253px !important;
}
.nickChill2 {
  left: 270px !important;
  top: -280px !important;
}
.wrap_nicks {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 200px;
  top: -156px;
}
.all_nicks:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  left: 126px;
  top: -62px;
}
.all_nicks:nth-child(3) {
      position: relative;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      top: -58px;
      left: 50px;
}
.all_nicks:nth-child(4) {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  left: 177px;
  width: 280px;
}
.wrap_creds {
  position: relative;
  top: -87px;
  left: 108px;
  width: 150px;
}
