@media (min-width: 320px) and (max-width: 578px) {
  .header {
    width: 320px;
    grid-template-columns: 28% repeat(4, 1fr);
  }
  .header_link {
    display: none;
  }
  .wrap_team {
    overflow: visible;
    top: -60px;
  }
  #down_arrow {
    position: relative;
    left: -266px;
    top: 166px;
}
  #wr_gamers1 {
    display: grid;
    left: 14px !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 277px;
    position: relative;
    left: 20px !important;
  }
#file_img {
    position: absolute;
    width: 295px;
}
.wrap_recovery {
  top: 36px;
  margin-bottom: 140px;
}
.recovery {
  width: 310px;
  height: 431px;
}
.enter_email1 {
  top: -31px !important;
  left: 20px;
  width: 291px;
}
.rec_form2 {
  top: 62px !important;
}
.wrap_reg_errors2 {
  top: 344px;
  left: 21px;
  width: 247px;
}
.rec_pass2 {
  top: -21px !important;
}
.n_pass1 {
      top: -70px !important;
}
.enter_email1 {
  font-size: 19px !important;
}
.rec_inp {
      width: 260px !important;
}
.n_pass_inp {
  top: -16px !important;
      left: -222px !important;
}
.rec_email2 {
  top: -70px !important;
  left: 17px !important;
}
.wrap_reg_errors2_top {
    top: 343px !important;
}
.n_pass_but {
  left: 18px !important;
  top: -24px !important;
}
.wrap_newpass {
  position: relative;
  top: -53px;
  margin-bottom: 150px;
}
.newpass {
      top: 82px;
      width: 310px;
}
.n_pass_inp {
      width: 261px !important;
}
.login_form {
  width: 300px;
}
.rec_email {
  left: -271px !important;
  top: 57px !important;
}
.rec_inp {
      top: 10px !important;
}
.rec_but {
    top: 86px !important;
    left: -271px !important;
}
.wrap_black_screen, .wrap_star3, .wrap_star2 {
  display: none;
}
.wrap_reg_errors {
  top: 411px;
  left: 20px;
  width: 292px;
}
.reg_errors {
  font-size: 13px;
  margin: 0;
}
.errs_login {
  top: 418px !important;
}
.not_a_rbt {
  position: absolute;
  top: 186px;
  color: white;
  font-size: 20px;
  left: 0;
  width: 115px;
}
.wrap_vector {
  display: none;
}
  .wrap_logo {
    position: relative;
    top: 8px;
  }
  .each_down_slide > img {
        width: 151px;
  }
  .down_sliders {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 18px;
  }
  .wrap_active_sliders {
    height: 472px;
  }
  .wrap_span {
    display: grid;
    width: 18px;
    height: 55px;
    grid-column: 6 / 7;
    position: relative;
    z-index: 1000;
  }
  .span_down {
    position: relative;
    top: -20px;
  }
  .appearUp {
    top: 12px !important;
    transform: rotate(
    -45deg) !important;
  }
  .appearDown {
    top: -22px !important;
    transform: rotate(
    45deg) !important;
  }
  .wrap_mobile_menu {
    display: grid;
    position: fixed;
    width: 320px;
    height: 400px;
    background: #232226;
    border-radius: 0px 10px 10px 10px;
        transform: translateX(-500px);
        transition: 0.3s;
  }
  .appearMenu {
    transform: translateX(0px) !important;
    left: 0px !important;
  }
  .mobile_menu {
    display: grid;
  }
  .mobile_link {
    font-size: 20px;
    color: white;
    padding-left: 33px;
    padding-top: 30px;
  }
  .span_up {
    position: relative;
    top: 8px;
  }
  .each_span {
    width: 18px;
    height: 2px;
    background: white;
  }
  .slider {
    width: 320px;
    height: 800px;
  }
  .teamTitle {
    font-size: 30px;
    line-height: 35px;
    top: 39px;
    left: 0;
  }
  #Pilguev {
    position: relative;
    top: -8px;
    left: -1px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .klydeep {
    left: 39px !important;
    top: -9px;
  }
  .pilguev {
    left: 12px !important;
    top: -21px;
  }
  #Re1GN1 {
    left: 41px !important;
    top: -8px;
  }
  #Re1GN2 {
    left: 11px !important;
    top: -20px;
  }
  .img_for_each_gamer {
    width: 130px;
  }
  .gamers:nth-child(5) {
    top: -21px;
    left: -1px;
  }
  .remill {
    top: -9px;
    left: 43px !important;
  }
  .romanov {
    top: -22px;
    left: 4px !important;
  }
  .gamers:nth-child(4) {
    right: 0px;
    top: -8px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .magnolia {
    top: -9px;
    left: 32px !important;
  }
  .rodnov {
    top: -21px;
    left: 21px !important;
  }
  .gamers:nth-child(2) {
    top: 0px;
    left: 0px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .gamers:nth-child(3) {
    right: 0px;
    top: 0px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gamers:nth-child(6) {
    left: 0px;
    top: -20px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
   {
    top: -155px;
    left: 140px !important;
  }
  .h1te {
    top: -9px;
    left: 49px !important;
}
  .khait {
    top: -22px;
    left: 13px !important;
  }
  .team {
        width: 320px;
  }
.game {
  width: 320px;
  }
  .main_present {
    top: 334px !important;
  }
  .wrap_main_footer {
    position: relative;
    height: 1px;
    top: -200px;
  }
  .wrap_gamers, .wrap_gamers3 {
    width: 320px;
    box-shadow: inset 0px 0px 8px 54px black;
    left: -61px;
    top: 53px;
    grid-template-columns: repeat(2, 1fr);
  }
  #wrap_main_pr {
    height: 1px;
    top: -167px;
    position: relative;
  }
  .wrap_slider {
    height: 930px;
  }
  .nicks {
    left: 57px;
    font-size: 16px;
    line-height: 22px;
    width: 100px;
  }
  .namesForNicks {
        left: 57px;
        font-size: 16px;
        line-height: 22px;
        width: 121px;
  }
  .nickChill {
    top: -8px !important;
    left: 48px !important;
  }
  .nickChill2 {
    left: -1px !important;
    top: -20px !important;
    width: 150px;
  }
  .wrap_nicks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 86px;
    top: 16px;
    width: 252px;
    left: 45px;
  }
  .all_nicks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .wrap_creds {
    left: -98px;
    width: 130px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    top: 9px;
  }
  .all_nicks:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    left: 0px;
    top: 0px;
  }
  .spec_imgs {
    position: relative;
    top: 51px;
  }
  .all_nicks:nth-child(3) {
    position: relative;
    grid-column: 2 / 3;
    left: 0px;
    top: -41px;
    grid-row: 2 / 3;
    width: 100px;
    height: 100px;
  }
  .nicks2 {
    position: relative;
    left: 100px;
    top: -29px;
  }
  .namesForNicks2{
    position: relative;
    top: -44px;
    left: 78px;
  }
  .next_game, .votes {
    font-size: 30px;
    line-height: 35px;
  }
  .votes {
    top: 90px;
    height: 40px;
    width: 258px;
    left: 33px;
  }
  .teamLogoSvg > img {
        width: 74px;
  }
  .vs {
    font-size: 30px;
    line-height: 35px;
  }
  .wrap_game {
    height: 505px;
    top: 275px;
  }
  .next_game {
    top: 48px;
  }
  .choice_inside {
    top: -41px;
    width: 212px;
  }
  .teamLogoSvg {
    left: 19px;
  }
  .wrap_present {
    top: 489px;
  }
  .bee {
    width: 129px;
  }
  .enemy {
        font-size: 19px;
        color: white;
        position: relative;
        right: -3px;
  }
  .game_window {
    width: 286px;
    height: 186px;
    top: 53px;
    justify-self: center;
  }
  .present {
        width: 320px;
        top: -25px;
        right: 0;
  }
  .each_wear {
        width: 130px;
        height: 199px;
        background-repeat: round;
        margin-left: 22px;
        position: relative;
        top: 34px;
  }
  .each_wear:nth-child(1):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(2):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(3):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(4):hover {
    background-repeat: round;
  }
  .wrap_wear {
    height: 345px;
    left: -7px;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap_footer {
    top: 540px;
    height: 966px;
  }
  .footer {
    width: 320px;
  }
  .check_auto {
        width: 273px;
  }
  .high_footer {
    top: 41px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 320px;
    height: 60px;
  }
  .each_footer {
    top: 39px;
    left: -14px;
  }
  .secondFoot {
    left: -87px;
    top: 97px !important;
  }
  .enter_footer_link {
    left: -97px;
    top: 97px;
  }
  .thirdFoot {
    left: -14px;
}
  #bee2 {
        grid-column: 1 / 6;
  }
  .contact_us {
    position: relative;
    top: 6px;
  }
  .middle_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    top: -35px;
  }
  .form_1 {
        grid-template-columns: 1fr;
  }
  .push_me {
    font-size: 14px;
    grid-column: 1 / 2;
    position: relative;
    top: 116px;
    left: 39px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #808080;
    width: 245px;
  }
  #sub_form {
        grid-column: 1 / 2;
        right: 0;
        top: 149px;
        width: 320px;
  }
  .quest2 {
    position: relative;
    right: 0;
    top: -12px;
  }
  .quest1 {
    position: relative;
    left: 0;
    top: 0px;
  }
  .footer_inputs {
    width: 320px;
  }
  .low_footer {
    height: 18px;
    top: 278px;
    display: flex;
    justify-content: center;
  }
  .header {
    overflow: visible;
  }
  .enter_link {
    width: 50px;
  }
  .all_nicks:nth-child(4) {
    left: 0;
    height: 100px;
    top: -41px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 144px;
    height: 100px;
  }
  .header_link {
    left: 62px;
  }
    .vote_header {
      left: 45px;
  }
  .team_header {
      left: 48px;
  }
  .login_inside {
    width: 320px;
    height: 460px;
  }
  .comm {
    font-size: 18px;
    line-height: 25px;
  }
  .enter_to {
        font-size: 22px !important;
        line-height: 26px !important;
        width: 333px;
        position: relative;
        left: 21px;
        margin-right: 0;
        top: 25px;
  }
  .login_inp {
    position: relative;
    left: 20px;
    top: 42px;
    width: 281px;
  }
  #reg_but2 {
    width: 224px;
  }
  .wrap_reg {
    top: -18px;
  }
  .reg_but {
    top: 0px;
    left: 38px;
  }
  .no_acc {
    top: 1px;
    left: 20px;
  }
  .wrap_reg_foot {
    height: 1px;
    position: relative;
    top: -580px;
  }
  .login_form {
    overflow: hidden;
    height: 523px;
    top: 19px;
  }
  .remember_me {
    position: relative;
    top: 79px;
    left: 47px;
    width: 143px;
    height: 40px;
  }
  .radio_inp {
    width: 12px;
    left: -266px;
    position: relative;
    top: 148px
  }
  #reg_but2 {
    width: 224px;
    left: 20px;
    top: 60px;
  }
  .wrap_login {
    top: -18px;
  }
  #enter_but {
    left: 23px;
    top: 61px;
  }
  .forgot_pass {
    opacity: 0;
  }
  .your_email {
    left: -262px;
    top: 55px;
    width: 200px;
  }
  .design_pass {
    left: -262px;
    top: 93px;
  }
  .inp_pass {
        top: 80px !important;
  }
}
