@media (min-width: 770px) and (max-width: 994px) {
  .header {
    width: 768px;
    grid-template-columns: 28% repeat(4, 1fr);
  }
  .login_inside {
    width: 553px;
    height: 547px;
  }
  #down_arrow {
    position: relative;
    left: 135px;
    top: 96px;
}
  .enter_to {
    font-size: 28px !important;
    line-height: 32px !important;
  }
  .wrap_vector, .wrap_star3, .wrap_star2 {
    display: none;
  }
  .wrap_black_screen {
    display: none;
  }
  .wrap_reg_foot {
    top: 88px;
    height: 1px;
    position: relative;
  }
  .slider {
    width: 768px;
    height: 1020px;
  }
  #wr_gamers1, #wr_nicks1 {
    position: relative;
    left: 24px;
  }
  .teamTitle {
    font-size: 38px;
    line-height: 47px;
    top: -45px;
    left: 0;
  }
  #Pilguev {
    position: relative;
    top: 204px;
    left: -1px;
  }
  #Re1GN1 {
    left: -35px;
    top: -205px;
  }
  #Re1GN2 {
    left: -120px;
    top: -224px;
  }
  .img_for_each_gamer {
    width: 213px;
  }
  .gamers:nth-child(5) {
    right: 298px;
    top: 198px;
  }
  .gamers:nth-child(4) {
    right: 254px;
    top: 9px;
  }
  .gamers:nth-child(2) {
    top: 103px;
    left: -44px;
  }
  .gamers:nth-child(3) {
    right: 90px;
  }
  .gamers:nth-child(6) {
    right: 344px;
    top: 95px;
  }
  .team {
        width: 768px;
        overflow: hidden;
  }
  .wrap_gamers, .wrap_gamers3 {
    width: 768px;
  }
  .nicks {
    left: 57px;
  }
  .namesForNicks {
        left: 57px;
  }
  .nickChill {
    top: -206px !important;
    left: 190px !important;
  }
  .nickChill2 {
    left: 211px !important;
    top: -225px !important;
  }
  .wrap_nicks {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 86px;
    top: -16px;
    width: 700px;
  }
  .all_nicks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .wrap_creds {
    left: 0px;
    width: 130px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    top: -74px;
  }
  .all_nicks:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    left: 59px;
    top: 0px;
  }
  .all_nicks:nth-child(3) {
    position: relative;
    grid-column: 4 / 5;
    grid-row: 1;
    left: 36px;
    top: 0px;
  }
  .next_game, .votes {
    font-size: 38px;
    line-height: 44px;
  }
  .votes {
    top: 73px;
    height: 40px;
  }
  .teamLogoSvg > img {
        width: 125px;
  }
  .wrap_game {
    height: 724px;
    top: 92px;
  }
  .next_game {
    top: 63px;
  }
  .choice_inside {
    top: -23px;
  }
  .teamLogoSvg {
    left: 55px;
  }
  .wrap_present {
    top: 200px;
  }
  .enemy {
    font-size: 37px;
    color: white;
    position: relative;
    right: 10px;
  }
  .game_window {
    width: 727px;
    height: 341px;
    justify-self: center;
  }
  .present {
        width: 768px;
        top: -25px;
        right: 0;
  }
  .each_wear {
    width: 172px;
    height: 265px;
        background-repeat: round;
  }
  .each_wear:nth-child(1):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(2):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(3):hover {
    background-repeat: round;
  }
  .each_wear:nth-child(4):hover {
    background-repeat: round;
  }
  .wrap_wear {
    height: 345px;
  }
  .wrap_footer {
    top: 76px;
    height: 620px;
  }
  .footer {
    width: 768px;
  }
  .high_footer {
    top: 41px;
    display: grid;
    grid-template-columns: 44% repeat(4, 1fr);
    width: 768px;
    height: 60px;
  }
  .middle_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    top: -91px;
  }
  .form_1 {
        grid-template-columns: 1fr;
  }
  .push_me {
    font-size: 14px;
    grid-column: 1 / 2;
    position: relative;
    top: -85px;
    left: 185px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #808080;
    width: 245px;
  }
  #sub_form {
        grid-column: 1 / 2;
        right: 0;
        top: 14px;
  }
  .quest2 {
    position: relative;
    right: 0;
    top: -4px;
  }
  .quest1 {
    position: relative;
    left: 0;
    top: 7px;
  }
  .footer_inputs {
    width: 493px;
  }
  .low_footer {
        height: 18px;
        top: 158px;
  }
  .header {
    overflow: visible;
  }
  .enter_link {
    width: 50px;
  }
  .all_nicks:nth-child(4) {
    left: 122px;
  }
  .header_link {
    left: 86px;
  }
  .vote_header {
    left: 65px;
}
.team_header {
    left: 61px;
}
}
